*.DS_Store
src/main/resources/pack.mcmeta
src/main/java/net/minecraft/client/*
src/main/java/jredfox/DpiFixDeAWT.java
src/main/java/jredfox/dpimod/gui/*
src/main/java/net/minecraft/launchwrapper/LaunchClassLoader.java
